/* Reset de estilos para limpiar el estilo predeterminado del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
html {
  height: 100%;
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  line-height: 1.6;
  background-color: #d0d0d0;
  color: var(--text);
  height: 100%;
}
#app {
  height: 100%;
}
.overlay-darkener {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 98;
  pointer-events: none;
}

/* Buttons */
.button {
  position: relative;
  color: var(--background);
  background-color: var(--secondary);
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.5s ease;
  z-index: 1; /* Asegurar que el contenido esté sobre el seudoelemento */
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--tertiary);
  transform: scaleX(0); /* Cambiado a 1 para que esté presente por defecto */
  transform-origin: center;
  transition: transform 0.2s ease;
  z-index: -1; /* Cambio de -1 para que esté detrás del contenido del botón */
}
.button:hover::before {
  transform: scaleX(1);
  transform-origin: center;
  transition: transform 1s ease;
  z-index: -1; /* Asegurar que el seudoelemento esté detrás del contenido */
}
.button:hover {
  background-color: var(--tertiary);
  z-index: 1; /* Asegurar que el contenido esté sobre el seudoelemento */
}

/* Links */
.link {
  cursor: pointer;
  color: var(--primary);
  text-decoration: none;
  position: relative;
  transition: color 0.5s ease;
}
.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px; /* Altura de la línea de subrayado */
  bottom: 0;
  left: 0;
  background-color: var(
    --tertiary
  ); /* Color inicial de la línea de subrayado */
  visibility: hidden;
  transform: scaleX(0);
  transition:
    transform 0.5s ease,
    visibility 0.5s ease,
    background-color 0.5s ease;
}
.link:hover {
  color: var(--quaternary); /* Color al pasar el ratón */
}
.link:hover::before {
  visibility: visible;
  transform: scaleX(1);
  background-color: var(--quaternary); /* Color al pasar el ratón */
}

/* Tables */
.table-container {
  margin: 20px;
  overflow-x: auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  border: 1px solid var(--border);
  padding: 5px;
  text-align: left;
  word-wrap: break-word;
  min-height: 50px;
}
.table th {
  background-color: var(--tertiary);
  color: var(--background);
}
.table tbody tr:nth-child(even) {
  background-color: var(--subtle);
}
.table tbody tr:nth-child(odd) {
  background-color: var(--accent);
}
.table img {
  width: 20px;
  height: 20px;
  margin: 0px 10px;
}
.table-actions {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .table-container {
    margin: 10px;
  }
}

/* Encabezados h1 y h2 */
/* h1 {
  font-size: 24px;
  margin-bottom: 10px;
} */

/* h2 {
  font-size: 20px;
  margin-bottom: 8px;
} */

/* Formularios */
/* form {
  margin-bottom: 20px;
} */

/* Imágenes */
/* img {
  max-width: 100%;
  height: auto;
} */
