/* Reset de estilos para limpiar el estilo predeterminado del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
html {
  height: 100%;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  background-color: #d0d0d0;
  color: var(--text);
  height: 100%;
}
h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
}
#app {
  height: calc(100%);
}
.overlay-darkener {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}
.overlay-darkener.darkener-active {
  opacity: 1;
  pointer-events: auto;
}

/* Buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.button {
  position: relative;
  color: var(--background);
  background-color: var(--secondary);
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.5s ease;
  z-index: 1; /* Asegurar que el contenido esté sobre el seudoelemento */
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--tertiary);
  transform: scaleX(0); /* Cambiado a 1 para que esté presente por defecto */
  transform-origin: center;
  transition: transform 0.2s ease;
  z-index: -1; /* Cambio de -1 para que esté detrás del contenido del botón */
}
.button:hover::before {
  transform: scaleX(1);
  transform-origin: center;
  transition: transform 1s ease;
  z-index: -1; /* Asegurar que el seudoelemento esté detrás del contenido */
}
.button:hover {
  background-color: var(--tertiary);
  z-index: 1; /* Asegurar que el contenido esté sobre el seudoelemento */
}

/* Links */
.link {
  cursor: pointer;
  color: var(--primary);
  text-decoration: none;
  position: relative;
  transition: color 0.5s ease;
}
.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px; /* Altura de la línea de subrayado */
  bottom: 0;
  left: 0;
  background-color: var(
    --tertiary
  ); /* Color inicial de la línea de subrayado */
  visibility: hidden;
  transform: scaleX(0);
  transition:
    transform 0.5s ease,
    visibility 0.5s ease,
    background-color 0.5s ease;
}
.link:hover {
  color: var(--quaternary); /* Color al pasar el ratón */
}
.link:hover::before {
  visibility: visible;
  transform: scaleX(1);
  background-color: var(--quaternary); /* Color al pasar el ratón */
}

/* Tables */
.content-container {
  margin: 20px 10px 10px 10px;
  overflow-x: auto;
}
/* .table-container {
  margin: 20px 10px 10px 10px;
  overflow-x: auto;
} */
.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}
.table th,
.table td {
  border: 1px solid var(--border);
  padding: 5px;
  text-align: left;
  white-space: nowrap;
  /* display: column; */
}
.table th {
  background-color: var(--tertiary);
  color: var(--background);
}
.table tbody tr:nth-child(even) {
  background-color: var(--subtle);
}
.table tbody tr:nth-child(odd) {
  background-color: var(--accent);
}
.table img {
  width: 20px;
  height: 20px;
  margin: 0px 10px;
  transition: transform 0.3;
}
.table img:hover {
  transform: scale(1.2);
}
.table-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.infoMsg {
  color: var(--error);
  margin: 0 0 5px 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 70px 0 0 0;
}

.section-card {
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: var(--bg-accent);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-groups {
  margin-top: 30px;
}
.input-pair {
  margin: 0 20px;
  input {
    height: 32px;
    border: 0px;
    /* border: var(--text); */
    /* border: 1px solid var(--text); */
    border-radius: 10px;
    /* background-color: var(--subtle); */
  }
  input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* border: 5px dashed black; */
    background-color: var(--subtle);
  }
}
