:root {
  --primary: #007bff;
  --secondary: #0056b3;
  --tertiary: #3d73ac;
  --quaternary: #8dadff;
  --accent: #b1cff0;
  --subtle: #e6f2ff;
  --background: #ffffff;
  --text: #333333;
  --border: #dddddd;
  --success: #28a745;
  --error: #dc3545;
  --warning: #ffc107;
  /* --info: #17a2b8; */
}
