#catalog {
  display: grid;
  width: 100%;
  padding: 0 50px;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 50px 20px;
  justify-content: center;
  box-sizing: border-box;
}

.prod-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--background);
  transition:
    /* transform 0.2s, */ box-shadow 0.3s;
}
.prod-card:hover {
  /* transform: scale(1.015); */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.prod-card-frm-img {
  width: 248px;
  height: 248px;
  margin-bottom: 10px;
}
.prod-card-frm-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prod-card-frm-data {
  width: 248px;
  text-align: center;
}
.prod-card-frm-data h2 {
  margin-bottom: 10px;
}
.prod-card-frm-data h3 {
  margin-bottom: 10px;
  text-decoration: underline;
}
.prod-card-frm-data button {
  width: 238px;
  margin: 0 0;
  transition: width 0.5s;
}
.prod-card-frm-data button:hover {
  width: 100%;
}

.prod-card-frm-data-cat-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.prod-card-cat {
  font-size: 0.6em;
  padding: 1px 2px;
  margin: 2px;
  background-color: var(--warning);
  border: 1px solid var(--text);
  border-radius: 4px;
}
