@import '../palette.css';

.title {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

section {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* h1, h2 {
    color: #333;
} */

/* span {
    color: #666;
    margin-bottom: 20px;
} */

/* a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
} */

/* a:hover {
  color: #ffffff;
  text-decoration: underline;
  transition: color 1s ease;
} */