.loader-spinner p {
  color: var(--primary);
}
.spinner-overlay {
  position: fixed;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 80;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spinner {
  border: 2px solid rgba(0, 123, 255, 0.2);
  border-top: 2px solid var(--primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  animation: spin 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dots {
  display: inline-block;
  width: 1em;
  text-align: left;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots 1.5s steps(3, end) infinite;
}

.loading-text {
  display: inline-flex;
  align-items: baseline;
}
